<?xml version="1.0"?>

<!-- ANGLES - RADIAN -->

<!--Start with the robot name-->
<robot name="test_parrot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="test_parrot_gazebo.xacro" />
</robot>